body{
    font-family: verdana;
    text-decoration: none;
}

h1{
    position: absolute;
    top: 200px;
    left: 578px;
}

#bgk img{
    position: absolute;
    z-index: -1;
    left: -1px;
    width: 100%;  
}


#weblogo img{
    position: absolute;
    height: 187px;
    width: 187px;

}
.nav {
    
    position: absolute;
    top: 116px;
    width: 1347px;
    left: 200px;
    background-color: rgba(0, 0, 0, 0.83);
    color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}

.nav > li {
    display: inline-block;
    padding-right: 50px;
    text-align: left;
}

.nav > li > a {
    text-decoration: none;
    color: #ffffff;
}

.nav > li > a:hover {
    background-color: black;
}

.nav > li > a: {
    color: rgb(255, 108, 0)
}

#onderstebalk {
    z-index: 2;
    position: absolute;
    top: 897px;
    left: 0px;
    height: 200px;
    width: 1582px;
    background-color: black;
}

.dropbtn {
    
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-decoration: none !important;
    text-align: left;
    padding-right: 50px;
}

.dropbtn > a {
    text-decoration: none;
    color: white;

}

.dropbtn:hover {
    background-color: black; 
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    z-index: 1000;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content > a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}



.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}



